<div class="mt-3"></div>
<h1 class="display-3 text-center" >Cursos disponibles</h1>
<p class="lead text-center">
    La Capacitación nunca ha sido un gasto, la verdadera Capacitación siempre es una inversión.
  </p>

  <p class="text-white bg-info  text-center" *ngIf="MessageInscripcion != ''">
    {{MessageInscripcion}}
  </p>


<div class="mt-2"></div>

<div class="cards">

  



  <div class="card" *ngFor="let item of cursos; let x = index">
    <div class="card__image-holder">
      <img class="card__image" src="{{item.Imagen_curso}}" alt="field" />
    </div>
    <div class="card-title">
      <a href="#" class="toggle-info btn">
        <span class="left"></span>
        <span class="right"></span>
      </a>
      <h2>
        {{item.Nombre_curso}}
          <small><strong>Auspiciantes: </strong>UTLVTE</small>
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
      
          <p class="text-justify">{{item.descripcion_curso}} </p>
          <p class="text-justify">
            <b>Requisitos</b> <br>
              {{item.requisitos_curso}}
          
          </p>
          
          <p class="text-justify">
            <b>Fecha de inicio: </b> <span>{{item.FInicio_curso}}</span><br>
            <b>Fecha de fin: </b> <span>{{item.FFin_curso}}</span>
          </p>
      </div>
      <div class="card-flap flap2">
        <div class="card-actions">
          <a href="#" class="btn" (click)="open(content,item.id_curso,x)">Inscribirme</a>
        </div>
      </div>
    </div>
  </div>

 


</div>







  


  <ng-template #content let-modal>
    <div class="modal-header bg-dark">
      <h4 class="modal-title text-info" id="modal-basic-title">Inscríbete en el curso</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="lead" class="fs-5 text-center text-dark"><strong> {{CursoRegistro}}</strong></h5>
      <form>
      <!-- 
        <div class="form-group">
            <small id="search" class="form-text text-muted text-center">Si ya tiene usuario o desea actualizar sus datos, puede utilizar el campo buscar.</small>
            <div class="input-group mb-2">
              <input 
              [(ngModel)]="datos.id_findcedula"
              type="text" id="search" name="search" class="form-control" placeholder="Para buscar debe ingresar su identificación" aria-label="search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
        </div>
-->
        <div class="form-group">
          <div class="input-group mb-1">
            <input type="text" id="identificacion" name="identificacion" class="form-control"
                   placeholder="Cédula o pasaporte" 
                   aria-label="Identificación" 
                   aria-describedby="basic-addon2"
                   [(ngModel)]="datos.id_dparticipante"
                   >
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-1">
            <input type="text" id="nombre" name="nombre" class="form-control"
                   placeholder="Nombres completos" 
                   aria-label="Nombres completos" 
                   aria-describedby="basic-addon2"
                   [(ngModel)]="datos.nombres_dparticipante"
                   >
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-1">
            <input type="text" id="apellido" name="apellido" class="form-control"
                   placeholder="Apellidos completos" 
                   aria-label="Apellidos completos" 
                   aria-describedby="basic-addon2"
                   [(ngModel)]="datos.apellidos__dparticipante"
                   >
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-1">
            <input type="text" id="telefono" name="telefono" class="form-control"
                   placeholder="Teléfono de contacto" 
                   aria-label="Teléfono de contacto" 
                   aria-describedby="basic-addon2"
                   [(ngModel)]="datos.telefono_dparticipante">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mb-1">
            <input type="text" id="email" name="email" class="form-control"
                   placeholder="Email" 
                   aria-label="Email" 
                   aria-describedby="basic-addon2"
                   [(ngModel)]="datos.email_dparticipante">
          </div>
        </div>



      </form>
    </div>
    <div class="modal-footer bg-dark">
      <p class="text-info float-left">{{Message}}</p>
      <button type="button" class="btn btn-outline-light" (click)="modal.close('Save click')">Inscribirme</button>
    </div>
  </ng-template>
  
 
<script>
      $(document).ready(function(){
      var zindex = 10;
      
      $("div.card").click(function(e){
        e.preventDefault();
        console.log('click');
        var isShowing = false;
    
        if ($(this).hasClass("show")) {
          isShowing = true
        }
    
        if ($("div.cards").hasClass("showing")) {
          // a card is already in view
          $("div.card.show")
            .removeClass("show");
    
          if (isShowing) {
            // this card was showing - reset the grid
            $("div.cards")
              .removeClass("showing");
          } else {
            // this card isn't showing - get in with it
            $(this)
              .css({zIndex: zindex})
              .addClass("show");
    
          }
    
          zindex++;
    
        } else {
          // no cards in view
          $("div.cards")
            .addClass("showing");
          $(this)
            .css({zIndex:zindex})
            .addClass("show");
    
          zindex++;
        }
        
      });
    });
</script>